
.thumb{
	margin-bottom: 30px;
	max-width: 200px;
}

.thumb-orchestras{
	margin-bottom: 30px;
	max-width: 130px;
}

.thumb-uni{
	margin-bottom: 30px;
	max-width: 130px;
}

.page-top{
	margin-top:30px;
}

img.zoom {
    width: 100%;
    height: 100%;
    border-radius:5px;
    object-fit:cover;
	object-position:50% 20%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
